<div class="alert alert-info">
  <p class="mb-0">
    To find your <strong>Client ID</strong> and <strong>Client Secret</strong>, go to the 
    <%= external_link_to 'PayPal dashboard', 'https://www.paypal.com/mep/merchantapps/setup/checkout/apicredentials', class: 'alert-link' %>
  </p>
</div>