<p class="mb-1">
  From paying friends to saving money or getting cash back when you shop, explore what the new PayPal app has to offer.
</p>

<div class="d-flex align-items-center">
  <%= payment_method_icon_tag 'paypal', class: 'm-1' %>
  <%= payment_method_icon_tag 'visa', class: 'm-1' %>
  <%= payment_method_icon_tag 'master', class: 'm-1' %>
  <%= payment_method_icon_tag 'venmo', class: 'm-1' %>
</div>